# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tar
*.rar

# Gradle stuffs
!gradle-wrapper.jar
gradle.properties
.gradle/

# IDEA stuffs
.idea/shelf
/ideaSDK
/idea/testData/debugger/tinyApp/classes*
/ultimate/dependencies
/ultimate/ideaSDK
/ultimate/out
/ultimate/tmp
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
/.idea
.idea/**/gradle.xml
.idea/**/libraries
.DS_Store
.idea/replstate.xml


# IntelliJ
out/
build/
/build
!**/src/**/build
!**/test/**/build

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/workspace.xml
*.DS_Store
.gradle/*
*.csv
*.xlsx