# This is a basic workflow to help you get started with Actions

name: Publish package

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  workflow_dispatch:
    inputs:
      packagePrefix:
        required: true
        default: 'test'
        description: "Packages require a package version"
  release:
    types: # This configuration does not affect the page_build event above
      - created

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
#      - if: github.event.release.tag_name == ''
#        name: Publish release package
#        run: gradle publish
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#          RELEASE_VERSION: ${{ github.run_id }}
      - if: ${{ github.event.inputs.packagePrefix == '' || github.event.release.tag_name == '' }}
        name: Publish package
        run: ./gradlew publish --no-daemon
        env:
          ORG_GRADLE_PROJECT_github_token: ${{ secrets.GITHUB_TOKEN }}
          ORG_GRADLE_PROJECT_github_actor: ${ GITHUB_ACTOR }
          ORG_GRADLE_PROJECT_sonatype_username: ${{ secrets.SONATYPE_USERNAME }}
          ORG_GRADLE_PROJECT_sonatype_password: ${{ secrets.SONATYPE_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_PASSPHRASE }}
          RELEASE_VERSION: ${{ github.event.release.tag_name }} || "${ GITHUB_REF##*/ }-${{ github.run_id }}-SNAPSHOT"
